.github
.DS_Store
docs
kubernetes
node_modules
/.svelte-kit
/package
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__pycache__
.idea
venv
_old
uploads
.ipynb_checkpoints
**/*.db
_test
backend/data/*

# Ignore private_server directory and all its contents
private_server/

Docker_Usage.md